.cv-link,
.rallies-link,
.labouring-link {
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 20px;
    transition: all 0.3s;
}

.cv-link:hover,
.rallies-link:hover,
.labouring-link:hover {
    color: #ffffff;
    background-color: #111111;
    padding: 16px 24px;
}

.cv-box {
    background-image: url('Other/2CV-Line-Up.jpg');
}

.rallies-box {
    background-image: url('Other/');
    /* Need better photo */
}

.labouring-box {
    background-image: url('Other/');
    /* Need better photo */
}

.rally-support,
.rally-games {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.amazon-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.amazon-cars .break {
    flex-basis: 100%;
    height: 0;
}

.rally-support-image,
.rally-games-image,
.amazon-cars-image {
    height: 500px;
    width: auto;
    border-radius: 25px;
}